In [ ]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split 
from sklearn import metrics

In [ ]:
df=pd.read_csv('golf.txt')

In [ ]:
X = df.iloc[:, :-1].values
y = df.iloc[:, 4].values

In [ ]:
one_hot=pd.get_dummies(df[['Outlook', 'Temp.', 'Humidity', 'Wind']],drop_first=False)
one_hot.head()

,Outlook_Overcast,Outlook_Rain,Outlook_Sunny,Temp._Cool,Temp._Hot,Temp._Mild,Humidity_0rmal,Humidity_High,Wind_Strong,Wind_Weak
0,0,0,1,0,1,0,0,1,0,1
1,0,0,1,0,1,0,0,1,1,0
2,1,0,0,0,1,0,0,1,0,1
3,0,1,0,0,0,1,0,1,0,1
4,0,1,0,1,0,0,1,0,0,1

In [ ]:
df=df.drop(['Outlook', 'Temp.', 'Humidity', 'Wind'],axis=1)

In [ ]:
X=pd.concat([one_hot,df],axis=1)

In [ ]:
X.head()

,Outlook_Overcast,Outlook_Rain,Outlook_Sunny,Temp._Cool,Temp._Hot,Temp._Mild,Humidity_0rmal,Humidity_High,Wind_Strong,Wind_Weak,Decision
0,0,0,1,0,1,0,0,1,0,1,0
1,0,0,1,0,1,0,0,1,1,0,0
2,1,0,0,0,1,0,0,1,0,1,1
3,0,1,0,0,0,1,0,1,0,1,1
4,0,1,0,1,0,0,1,0,0,1,1

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
model = DecisionTreeClassifier(criterion = "entropy", random_state = 100,max_depth = 3, min_samples_leaf = 5)
model.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3, min_samples_leaf=5,
                       random_state=100)

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8