In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [4]:
df=pd.read_csv('/content/drive/MyDrive/Dataset/covid19.csv')
df

   temperatur badan  sesak nafas  batuk  diagnosis sakit covid-19
0                 1            1      0                         1
1                 0            1      1                         1
2                 0            0      0                         0
3                 1            0      1                         0
4                 1            1      0                         1
5                 0            1      0                         1
6                 1            1      1                         1
7                 0            0      1                         0

In [ ]:
X = df.iloc[:, :-1].values
y = df.iloc[:, 3].values

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
model = RandomForestClassifier(criterion = "gini", n_estimators = 100)
model.fit(X_train, y_train)

RandomForestClassifier()

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6666666666666666

In [ ]:
print(model.feature_importances_)

[0.07970588 0.77441176 0.14588235]